@font-face {
  font-family: 'glitchFontBold';
  src:url('/font/Parametric Glitch Bold.ttf');
}

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}

section.parent {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: url(../images/bkg.png) no-repeat center center;
  background-size:cover;
}

.vertical-menu{
  width:20%;
}

.vertical-menu a {
text-decoration: none;
text-align: center;
display: block;
height:20vh;
font-family: glitchFontBold;
padding: 15%;
}

a:link {
  background:black;
  color:white;
  text-decoration: none;
  transition: all .5s;
}

a:visited{
color:white;
}

a:hover{
  background:white;
  color:black;
  font-size: 2em;
}

.content-display-box {
  display: flex;
  width: 80%;
}

.contentBackground {
  margin-left: 5%;
  margin-right: 5%;
  transform:rotate(5deg);
}
