* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fab000;
  font-family: monospace;
}

header {
  background: #333;
  color: blanchedalmond;
  /* VALUES ARE ASSIGNED BASE ON CLOCK ROTATION STARTING AT TOP */
  /* MARGINS CAN ALSO BE DEFINED USING PADDING- */
  padding: 2%;

}

/* SPECIFICITY TARGETS ELEMENTS INSIDE OF PARENTS */

header h1 {
  font-size: 58px;
  text-transform: uppercase;
}

header h2 {
  font-size: 22px;
  font-family: Georgia, Times, serif;
  font-style: italic;
}

nav {
  background-color: blanchedalmond;
}

nav a:link {
  background-color: blanchedalmond;
  color: #333;
  padding: 1.5% 2%;
  display:inline-block;
  text-decoration: none;
}

nav a:visited {
  color:#555;
}

nav a:hover {
  color:blanchedalmond;
  background-color: #333;
}

nav a.active {
  color:blanchedalmond;
  background-color: #333;
}

article {
  padding: 2%;
}

article h1 {
  font-size: 38px;
  text-transform: capitalize;
  margin-bottom: 0.5%;
}

article h2 {
  font-size: 28px;
  text-transform: capitalize;
  margin-bottom: 0.5%;
}

article p {
  margin-bottom: 1%;
  font-size: 18px;
  line-height: 24px;
}

/* CLASSES WITH A . AND CAN BE USED MANY TIMES ON THE PAGE */
.pull_quote{
  background-color: #333;
  color: #fff;
  font-size: 22px;
  padding:2%;
  margin: 0 4% 2% 1%;
  font-family: Georgia, Times, serif;
  font-style: italic;
  border-left: solid 20px blanchedalmond;
}

figure{
  margin-bottom: 1%;
  width:20%;
  border:1px red solid;
  float:left;
  margin-right: 2%;
}
figure img{
  /* use % when you want a responsive img */
  width:100%;
}

figcaption {
  font-family: serif;
  font-style: italic;
  text-align:center;
}

footer {
  background: #333;
  font-family: serif;
  font-style: italic;
  text-align: center;
  padding: 2%;
}

/* DO NOT MAKE MULTIPLE COLUMNS USING FLOATS */
